body {
    background-color: #E8ECEF;

}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
    font: size 2rem;
    text-align: center;
    color: #fff;
    background-color: #000;
}